<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'>
    <title>About Training Me</title>
</head>
<body>
    <h1>Your Fitness Journey</h1>

    <p>Training Me is a prototype website that allows users<br/>
        to log their fitness goals and keep track of their progress -<br/> 
        such as if the goal has been achieved and what week the goal<br/>
        has been assigned to. We hope that with the pandemic going on,<br/>
        we are able to motivate people to continue with their fitness!<br/>
    </p>

    <div class="text-left">
        <a href="/goals" class="btn btn-primary">View Goals</a>
        <a href="/" class="btn btn-primary">Back to Home</a>
    </div>
</body>
</html>