
<html lang="en">
<head>
   {{>header}}
   <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
</head>
<body class="container">
<h1>Training Me</h1>
    <h2>{{title}}</h2>
    
    <div class="text-right" style="margin-bottom:1em;">
    {{^user}}
    <a id="login" href="/login" class="btn btn-primary">
    Sign In
    </a>
    <a id="login" href="/register" class="btn btn-primary">
    Register
    </a>
    {{/user}}
    {{#user}}
    <a id="logout" href="/logout" class="btn btn-primary">
    Sign Out
    </a>
    {{/user}}
    </div>



    {{#goals}}

    <div class = "card", data-id="{{id}}">
      <div class="card-header">
          {{targetArea}}
      </div>
      <div class="card-body">
        <div class="card-text">
        Goal: {{trainingGoal}}
        </div>
        <div class="card-text">
        Week Beginning: {{startDate}}
        </div>
        <div class="card-text">
        Entered by <a href='/posts/{{author}}'>{{author}}</a>
        </div>
        <div class="card-text">
        Achieved? {{achieved}}
        </div>
        <a href='/delete/{{_id}}' alt='delete this goal'><i class='fa fa-trash' style='font-size:24px'></i></a>
        <div>
        </div>
      </div>
    </div>

    
    <hr>
    {{/goals}}
    {{^goals}}
    No entries yet
    {{/goals}}
</body>
</html>