<!DOCTYPE html>
<html lang="en">
{{!-- header is not implemented--}}
<head>
   {{>header}}
</head>
<body>
    <h1>{{title}}</h1>
    {{#goals}}
    <div>
        {{trainingGoal}}
    </div>
    <div>
       {{achieved}}
    </div>
    <div>
       {{startDate}}
    </div>
    <hr>
    {{/goals}}
    {{^goals}}
    No entries yet
    {{/goals}}
</body>
</html>