
<html lang="en">
<head>
   {{>header}}
</head>
<body class="container">
<h1>Training Me</h1>
    <h2>{{title}}</h2>
    {{#goals}}

    <div class = "card", data-id="{{id}}">
      <div class="card-header">
          {{startDate}}
      </div>
      <div class="card-body">
        <div class="card-text">
        Goal: {{trainingGoal}}
        </div>
        <div class="card-text">
        Entered by <a href='/posts/{{author}}'>{{author}}</a>
        </div>
        <div class="card-text">
        Achieved? {{achieved}}
        </div>
      </div>
    </div>

    
    <hr>
    {{/goals}}
    {{^goals}}
    No entries yet
    {{/goals}}
</body>
</html>