<html lang="en">

<head>
{{>header}}
</head>

<body class="container">

<h1>Training Me</h1>

<h2>Write a new entry</h2>

<form method="post" role="form">

<div class="form-group">
<label for="author">Author</label>
 <input type="text" class="form-control" id="author"
  name="author" placeholder="Written by" required>
  </div>

  <div class="form-group">
  <label for="trainingGoal">Training Goal</label> 
  <input type="text" class="form-control" id="trainingGoal"        
  name="trainingGoal" placeholder="Enter training goal" required>
   </div> 

   <div class="form-group"> 
   <label for="contents">Entry Start Date</label> 
   <textarea class="form-control" id="startDate" name="startDate"         
     placeholder="Enter start date" rows="1" required>
     </textarea> 
     </div> 

     <div class"form-group">
     <label for="achieved">Achieved?</label>
    <input type="checkbox" id="achieved" name="achieved">

     <div class="form-group"> 
     <input type="submit" value="Post entry" class="btn btn-primary"> 
     </div>

     </form>

     </body>

     </html>